
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*Setter grid
#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
}
*/


#global-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    font-size: 20px;


    .flex-nav form input{
        display: block;
        font-size: 1.1rem;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 25px;
    }

    .flex-nav form button{
        background: none;
        border: none;
        position: relative;
        bottom: 25px;
        left: 180px;
        font-size: 1.1rem;

    }
}

/*Listestyling, klassen fjerner punktene, evt understrek og gir svart tekst*/
.list-style{
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 25rem;
}

/*Stilsetter a-tagene på elementer som har klassen .list-style*/
.list-style a{
    text-decoration: none;
    color: black;
}

.listitem-center{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.listitem-center li a:hover .fa-cart-shopping{
    transform: scale(1.5);
}

/*Sentrerer listitem i senter*/
.nav-text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.space-between{
    padding: 0.5rem;
}

/*Her kommer banner område*/
#banner{
    display: flex;
    flex-direction: column;
    /*Legger all tekst til høyre*/
    text-align: right;
    /*Legger utvendig luft til seksjonen*/
    margin: 1rem;
    /*Legger innvendig luft slik at innholdet i seksjonen ikke er helt ut til kantene*/
    padding: 1rem;
    /*Setter bakgrunnsbilde til seksjonen*/
    background: url(../img/blue-dress.jpg);
    /*Cover setter bildet til å dekke område, uten at den går på repeat og fuller området*/
    background-size: cover;
    /*Avrunner hjørnene*/
    border-radius: 25px;

    h2, p{
        padding-left: 11rem;
        padding-right: 2rem;
    }

}

#banner a{
    background-color: white;
    margin:auto;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}

/*Her kommer stilsettingen til seksjonen "Våre mest populære produkter"*/

#pop-items{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    align-items: center;
}

.flt{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.5rem;
}

.fltr-btn{
    background-color: white;
    border: 1px solid black;
    margin-left: auto;
    padding: 0.7rem;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}

.product-card {
    display: flex;
    flex-direction: column;

    img {
        width: 380px;
        border-radius: 25px;
    }

}

.product-card .name-price{
    display: flex;
    justify-content: space-between;
}


.hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
}



.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    a{
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
}






/*Her kommer stilsettingen til seksjonen "Våre mest populære kategorier*/

#cat-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    h2, p{
        display: flex;
        justify-content: center;
    }

}

/*.category{
    display: flex;
    border-radius: 25px;
    padding: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin: 0.5rem;
    background-image: url(../img/fashionItem.jpg);
    background-size: cover;
    opacity: 0.7;

}*/

#category_1{
    position: relative;
    text-align: center;
    height: 400px;
    width: 100%;
    margin: 0.5rem;

    background-image: url(../img/sandales.jpg);
    background-size: cover;
    border-radius: 25px;

    h3{
        position: absolute;
        top: 40%;
        left: 35%;
        z-index: 1;
    }

    .filter{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 25px;
        background-color: rgb(255, 255, 255);
        opacity: 0.3;
    }
}

#category_2{
    position: relative;
    text-align: center;
    height: 400px;
    width: 100%;
    margin: 0.5rem;
    

    background-image: url(../img/clothing.jpg);
    background-size: cover;
    border-radius: 25px;

    h3{
        position: absolute;
        top: 40%;
        left: 35%;
        z-index: 1;
    }

    .filter{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 25px;
        background-color: rgb(255, 255, 255);
        opacity: 0.3;
    }
}


#category_3{
    position: relative;
    text-align: center;
    height: 500px;
    width: 100%;
    margin: 0.5rem;

    background-image: url(../img/summer-clothes.jpg);
    background-size: cover;
    border-radius: 25px;

    h3{
        position: absolute;
        top: 40%;
        left: 35%;
        z-index: 1;
    }

    .filter{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 25px;
        background-color: rgb(255, 255, 255);
        opacity: 0.3;
    }
}


#category_4{
    position: relative;
    text-align: center;
    height: 400px;
    width: 100%;
    margin: 0.5rem;

    background-image: url(../img/accessories.jpg);
    background-size: cover;
    border-radius: 25px;

    h3{
        position: absolute;
        top: 40%;
        left: 35%;
        z-index: 1;
    }

    .filter{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 25px;
        background-color: rgb(255, 255, 255);
        opacity: 0.3;
    }
}

#category_5{
    position: relative;
    text-align: center;
    height: 400px;
    width: 100%;
    margin: 0.5rem;

    background-image: url(../img/wedding.jpg);
    background-size: cover;
    border-radius: 25px;

    h3{
        position: absolute;
        top: 40%;
        left: 35%;
        z-index: 1;
    }

    .filter{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 25px;
        background-color: rgb(255, 255, 255);
        opacity: 0.3;
    }
}



/*Her kommer stilsetting for anmeldelser seksjonen*/


.reviews{
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.scroll{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 1rem;
}

.review_cards{
    display: grid;
    border: 1px solid black;
    grid-template-columns: 200px ;
    grid-template-rows: auto;
    padding: 1rem;
    max-width: 200px;
    border-radius: 25px;
    margin: 0.5rem;

    img{
        max-width: 115px;
        border-radius: 100px;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    h3{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    p{
        grid-column: 1/2;
        grid-row: 3/4;
    }


}


footer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    border-top: 1px solid black;
    margin: 1rem;
    font-size: 0.8rem;

    .logo{
        grid-column: 1/3;
        grid-row: 1/2;

        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
    }

    .contact{
        grid-column: 1/2;
        grid-row: 2/3;

        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            gap: 0.5rem;

            i{
                padding-right: 0.5rem;
            }
        }
    }

    .shortcuts{
        grid-column: 2/3;
        grid-row: 2/3;

        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            gap: 0.5rem;

            li a{
                text-decoration: none;
                color: rgb(0, 0, 0);
            }
        }
    }

    .some{
        grid-column: 1/3;
        grid-row: 3/4;
        
        ul{
            display: flex;
            list-style: none;
            font-size: 1.2rem;
            padding: 0;
            gap: 1rem;

            li a{
                text-decoration: none;
                color: rgb(0, 0, 0);
            }

        }
    }
}



/*-------------------------------------------------------------------------------*/

/*Her kommer stilsetting av produktsiden*/

/*stilsetter brødsmulenavigasjonen*/

#breadcrum-nav{
    padding: 1rem;

    #breadcrumbs{
        display: flex;
        list-style: none;
        gap: 1rem;
        font-size: 1.3rem;
        padding: 0;
        
        a{
            text-decoration: none;
            color: black;
        }
    
    }

}


#breadcrumbs a:hover{
    color: rgb(149, 0, 0);
}

#breadcrumbs li:last-child a{
    font-weight: bold;
}

/*Må ha overskrift for område med produktinformasjon og bilde overskriften har fått
klassen hidden + ps-abs for å ikke synes eller gi margin*/
.pos-abs{
    position: absolute;
}
.product-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

#grid-product-img{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;

    .bilde1{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        border-radius: 0px;
    }

    .bilde2{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        border-radius: 0px;
    }

    .bilde3{
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
        border-radius: 0px;
    }

    .bilde4{
        grid-column: 1/2;
        grid-row: 4/5;
        width: 100%;
        border-radius: 0px;
    }

    #product-info{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}



.details-sum{
    border-top: 2px solid black;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;

    summary{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
}

.display-block{
    display: block;
}

.block-marg-top{
    display: block;
    margin-top: 1rem;
}

#size{
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

.marg-top{
    margin-top: 1rem;
}

.width-pad{
    width: 89%;
    margin-top: 1rem;
    padding: 0.5rem;
}

#basket{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
}

#favorite{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 11px;
    padding-left: 11px;
}


#favorite:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 9px;
    padding-left: 9px;
}




aside{
    padding: 1rem;
}



aside .scroll .product-card{
    padding: 1rem;

    img{
        width: 200px;
        gap: 1rem;
        
}
}

/*-------------------------------------------------------------------------------*/

/*Her kommer stilsetting av checkout siden*/


/*Starter med stilsetting av listen i nav øverst i main. Her har jeg gjenbrukt
stilsettingen i navet på produktsiden*/

/*Stilsetting av shoppingbaggen*/

#checkout{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    /*Headingen for en margin på venstresiden lines opp med resten av siden*/
    gap: 1rem;
}

#shoppingbag{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(233, 233, 237);
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;

    article img{
        width: 100%;
        max-width: 450px;
    }

    article ul{
        display: flex;
        list-style: none;
        padding: 0;
        gap: 1rem;

        li form{
            display: flex;
            gap: 0.2rem;
            align-items: baseline;
        }
    }
    
}

.size-opt{
    width: 15%;
    border: none;
    padding: 0.5rem;

}

.quant{
    width:15%;
    border: 2px solid rgb(233, 233, 237);
    padding: 0.5rem;
}



#personal-info{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(233, 233, 237);
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;

    a{
        text-align: center;
        padding-bottom: 2rem;
    }
}

#personal{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label{
        display: block;
    }

    input{
        width: 95%;
        padding: 0.5rem;
        border: 2px solid rgb(233, 233, 237);
    }

}

#contact-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label{
        display: block;
    }

    input{
        width: 95%;
        padding: 0.5rem;
        border: 2px solid rgb(233, 233, 237);
    }

    #save-btn{
        width: 100%;
        background-color: rgba(34, 33, 31, 0.8);
        color: rgb(255, 255, 255);
        font-size: large;
        padding: 0.5rem;
        font-weight: bold;
    }
}


#delivery-opt{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(233, 233, 237);
    padding-left: 1rem;
    padding-right: 1rem;
}

/*Må se på fieldset på nytt!! Kan ikke ha H og p tag i label...*/
fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 2rem;


    .delivery-methode{
        border: 2px solid rgb(233, 233, 237);
        padding: 0.5rem;

        label{
            display: flex;
            gap: 4rem;
        }
    }


    input{
        float: left;
    }
}




#payment{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(233, 233, 237);
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

}


#payment-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label{
        display: block;
    }

    input{
        width: 95%;
        padding: 0.5rem;
        border: 2px solid rgb(233, 233, 237);
    }

}

#pay{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 2px solid rgb(233, 233, 237);

    #confirm{
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    #buy{
        width: 100%;
        background-color: rgba(34, 33, 31, 0.8);
        color: rgb(255, 255, 255);
        font-size: large;
        padding: 0.5rem;
        font-weight: bold;
        border: none;
    }

    .notification{
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        justify-content: center;
        align-items: baseline;
    }

}







/*
@media only screen and (min-width: 780px) {

    #grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        padding: 1rem;
    }

    #global-header, .flex-nav{
        display: flex;
        align-items: baseline;
    }

    .nav-text-center{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 0;
    }

    #global-header{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-column: 1/4;
        grid-row: 2/3;
    }

    #banner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-column: 1/4;
        grid-row: 1/2;
        }

}
 */

 