
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*Setter grid
#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
}

header, nav, main, footer{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
*/


#global-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    padding-top: 2;
    font-size: 20px;
}

/*Listestyling, klassen fjerner punktene, evt understrek og gir svart tekst*/
.list-style{
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 25rem;
}

/*Stilsetter a-tagene på elementer som har klassen .list-style*/
.list-style a{
    text-decoration: none;
    color: black;
}

.listitem-center{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

/*Sentrerer listitem i senter*/
.nav-text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.space-between{
    padding: 0.5rem;
}

/*Her kommer banner område*/
#banner{
    display: flex;
    flex-direction: column;
    /*Legger all tekst til høyre*/
    text-align: right;
    /*Legger utvendig luft til seksjonen*/
    margin: 1rem;
    /*Legger innvendig luft slik at innholdet i seksjonen ikke er helt ut til kantene*/
    padding: 1rem;
    /*Setter bakgrunnsbilde til seksjonen*/
    background: url(../img/Roller_skates.jpg);
    /*Cover setter bildet til å dekke område, uten at den går på repeat og fuller området*/
    background-size: cover;
    /*Avrunner hjørnene*/
    border-radius: 25px;

    h2{
        padding-left: 10rem;
        padding-right: 2rem;
    }

    p{
        margin-bottom: 2rem;
        padding-left: 10rem;
        padding-right: 2rem;
        color: white;
    }
}

#banner a{
    background-color: white;
    margin:auto;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}

/*Her kommer stilsettingen til seksjonen "Våre mest populære produkter"*/

#pop-items{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.flt{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.fltr-btn{
    background-color: white;
    border: 1px solid black;
    margin-left: auto;
    padding: 0.7rem;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}

.product-card {
    padding: 16px;
    text-align: center;
    position: relative;
}

.name-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    a{
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
}

.review{
    display: flex;
}


/*BARE TIL EKSEMPEL!!!!*/



img {
    max-width: 100%;
    border-radius: 8px;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}


/*Her kommer stilsettingen til seksjonen "Våre mest populære kategorier*/

.cat-tile{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
    background-color: aqua;
    border-radius: 25px;
    border: 2px solid black;
}



.bi{
    background-image: url(../img/Roller_skates.jpg);
    /*Cover setter bildet til å dekke område, uten at den går på repeat og fuller området*/
    background-size: cover;
    /*Avrunner hjørnene*/
    border-radius: 25px;
    /*backdrop-filter: ;*/
}





.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}





@media only screen and (min-width: 780px) {

    #grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        padding: 1rem;
    }

    #global-header, .flex-nav{
        display: flex;
        align-items: baseline;
    }

    .nav-text-center{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 0;
    }

    #global-header{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-column: 1/4;
        grid-row: 2/3;
    }

    #banner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-column: 1/4;
        grid-row: 1/2;
        }

}