
body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*Setter grid
#grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}*/

#global-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 2rem;
    font-size: 20px;
}

/*Listestyling, klassen fjerner punktene, evt understrek og gir svart tekst*/
.list-style{
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 25rem;
}

/*Stilsetter a-tagene på elementer som har klassen .list-style*/
.list-style a{
    text-decoration: none;
    color: black;
}

.listitem-center{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

/*Sentrerer listitem i senter*/
.nav-text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.space-between{
    padding: 0.5rem;
}

#banner{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: right;
    background-color: antiquewhite;
    /*background-image: url(https://picsum.photos/id/376/200/300);*/
    border-radius: 15px;
    background-size: cover;
    height: 500px;
    padding-right: 3rem;
    padding-left: 8rem;
    padding-top: 3rem;
    
}





















.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }


  img{
    width: 150px;
}